body {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  color: #2d3748;
  background-color: #f0fdf4;

  margin: 0;
  padding: 0;
}

.footer {
  background: #2d5a27;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

/*Navbar*/
.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
}

.nav-link {
  transition: 0.3s;
}

.nav-link:hover {
  color: #d4ffd4 !important;
}

/*Card product*/
.card {
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/*Button*/
.btn-success {
  background: #2ecc71;
  border: none;
}

.btn-success:hover {
  background: #27ae60;
}

/*Section*/
.section {
  padding: 60px 0;
}

/*Portofolio*/
.card p {
  margin: 0;
  font-weight: 500;
}

/*Login*/
form input {
  border-radius: 8px;
}

/*Checkout*/
.list-group-item {
  border-radius: 8px;
  margin-bottom: 5px;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  background: #fff;
  padding: 10px;
}
